:root,
body {
  height: 100%;
  --font: Georgia, Times, "Times New Roman";
}

body {
  padding: 100px;
  font-family: var(--font);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

  /* Background animation by Manuel Pinto https://codepen.io/P1N2O/pen/pyBNzX */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: content;
}

/* angular material style overrides */
.mat-input-element,
.mat-option-text,
.mat-form-field-infix,
.mat-expansion-panel-header-title,
.ingredient-detail {
  font-family: var(--font) !important;
}

.cocktail-card,
.search-card {
  border: 2px solid black;
}
