.cocktail {
  grid-column: span 1;
  justify-self: center;
  align-self: center;
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: max(1vw, 16px);
  line-height: max(1vw, 18px);
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-weight: bold;
}

.cocktail-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  transition: font-size 0.25s ease-out, line-height 0.25s ease-out;
}

.cocktail::hover {
  cursor: pointer;
}

.cocktail-name:hover {
  font-size: 1.2em;
  line-height: 1.2em;
}

.cocktail.mat-card {
  overflow: hidden;
}

.cocktail-img {
  object-fit: cover;
  display: block;
}
