.wrapper {
  margin: 0 auto;
  width: max(50vw, 200px);
}

.cocktail-detail {
  background-color: lightgray;
  padding: 20px;
}

.cocktail.mat-card {
  overflow: hidden;
  width: 100%;
}

.cocktail-img {
  object-fit: cover;
}

.cocktail-ingredients {
  margin-top: 20px;
}

.cocktail-name {
  display: inline-block;
}

.back-button {
  float: right;
}

.img-wrap {
  text-align: center;
}

.cocktail-description {
  width: 100%;
  margin: 30px auto;
  padding: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
