.cocktail-list {
  display: grid;
  grid-template: auto / repeat(auto-fill, minmax(200px, 1fr));
  overflow: auto;
  overflow-x: hidden;
}

.cocktail-card {
  background-color: lightgray;
  margin-top: 20px;
}

.cocktail-list,
.cocktail-card {
  font-family: Georgia, Times, "Times New Roman";
}

/* Scrollbar from https://codepen.io/devstreak/pen/dMYgeO */
.cocktail-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.cocktail-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.cocktail-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
