.ingredient {
    flex: 1 1 auto;
    min-width: 50px;
    min-height: 50px;
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    overflow: hidden;
}

.deleteIcon {
    position: absolute;
    top: 8px;
    right: 16px;
}