<mat-card class="search-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Cocktail Recipe Finder</mat-card-title>
    <mat-card-subtitle>Build your home bar to find out which recipes you can make right now!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input type="text" placeholder="Add your ingredients" aria-label="Ingredient" matInput
        [(ngModel)]="ingredientSelection" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected()">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let ing of ingService.ingredientList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ing.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ingredient [ingredient]="ing" (deleted)="onIngredientDeleted($event)">
        </ingredient>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>